/* stylelint-disable */
/* css-unused-parameters: disable */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.progress-bar-fill {
    width: var(--progress-width, 0%);
}

.category-node-cell {
    padding-left: 16px;
}

.tree-level-0 {
    padding-left: 16px !important;
}

.tree-level-1 {
    padding-left: 40px !important;
}

.tree-level-2 {
    padding-left: 64px !important;
}

.tree-level-3 {
    padding-left: 88px !important;
}

.tree-level-4 {
    padding-left: 112px !important;
}

.tree-level-5 {
    padding-left: 136px !important;
}